/* =================================================================================================
Global styles
================================================================================================= */

// set up body and container padding/widths/etc ================================================== /
body { padding: 0 1em; margin: 0; }
div.container { width: 100%; max-width: 1000px; margin: 0 auto; padding: 0; }


// tell your content elements to act like rows for containing columns ============================ /
section.two-columns,
section.six-columns,
section.varying-columns,
section.nested-columns,
section.more-nested-columns,
section.offset-columns {
  @include row;
}


// declare non-grid-related styles for your elements ============================================= /
header.banner {
  background-color: $gray10;
  margin-bottom: $verticalMeasure;
}

section.hero {
  height: $verticalMeasure * 10;
  background-color: $gray60;
  margin-bottom: $verticalMeasure;
}

section.two-columns {
  background-color: $gray10;
  margin-bottom: $verticalMeasure;

  div {
    background-color: $gray30;
    padding: $verticalMeasure;
    width: columns(3); // declare width in columns
  }
}

section.six-columns {
  background-color: $gray10;
  margin-bottom: $verticalMeasure;

  div {
    background-color: $gray30;
    padding: $verticalMeasure;
    width: columns(1); // declare width in columns
  }
}

section.varying-columns {
  background-color: $gray10;
  margin-bottom: $verticalMeasure;

  div {
    background-color: $gray30;
    padding: $verticalMeasure;
  }

  div.first-column {
    width: columns(1); // declare width in columns
  }

  div.second-column {
    width: columns(2); // declare width in columns
  }

  div.third-column {
    width: columns(3); // declare width in columns
  }
}

section.nested-columns {
  background-color: $gray10;
  margin-bottom: $verticalMeasure;

  div.nested {
    @include nesting;
    width: columns(3); // declare width in columns

    div {
      background-color: $gray50;
      padding: $verticalMeasure;
      width: columns(1, 3); // declare width in columns, plus width of parent in columns
      margin-right: gutter(3); // declare gutter with width of parent in columns as argument
    }
  }

  div.unnested {
    background-color: $gray30;
    padding: $verticalMeasure;
    width: columns(3); // declare width in columns
  }
}

section.more-nested-columns {
  background-color: $gray10;
  margin-bottom: $verticalMeasure;

  div.first-unnested {
    background-color: $gray30;
    padding: $verticalMeasure;
    width: columns(2); // declare width in columns
  }

  div.second-nested {
    @include nesting;
    width: columns(3); // declare width in columns

    div {
      background-color: $gray50;
      padding: $verticalMeasure;
      width: columns(1, 2); // declare width in columns, plus width of parent in columns
      margin-right: gutter(2); // declare gutter with width of parent in columns as argument
    }
  }

  div.third-unnested {
    background-color: $gray30;
    padding: $verticalMeasure;
    width: columns(1); // declare width in columns
  }
}

section.offset-columns {
  background-color: $gray10;
  margin-bottom: $verticalMeasure;

  div {
    background-color: $gray30;
    padding: $verticalMeasure;
  }

  div.first-offset {
    @include offset(left, 1); // set direction of offset and number of columns
    width: columns(1); // declare width in columns
  }

  div.second-offset {
    @include offset(right, 2); // set direction of offset and number of columns
    width: columns(2); // declare width in columns
  }
}

footer.credit {
  background-color: $gray10;
  text-align: center;
}