/* =================================================================================================
Typography
================================================================================================= */

body {
  font-family: $fontFamily;
  line-height: $lineHeight;
}

p {
  margin: 0 0 1.4em 0;
  font-size: 1em;
  line-height: $lineHeight;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: $baseColor;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 2em;
  line-height: 2.05;
}

h2 {
  font-size: 1.5em;
  line-height: 3.1;
  margin-bottom: -0.32em;
}

h3 {
  line-height: 1em;
  font-size: 1;
}

h4, h5, h6 {
  line-height: 1;
}

h4 {
  font-size: .85em;
}

h5 {
  font-size: .75em;
}

h6 {
  font-size: .75em;
  color: lighten($baseColor, 10%);
  text-transform: uppercase;
}

ul, ol {
  padding: 0;
  margin: 0 0 1.4em 1em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  line-height: 1.4;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}