/* =================================================================================================
Global styles
================================================================================================= */

// set up body and container padding/widths/etc ================================================== /
body { padding: 0 1em; margin: 0; }
div.container { width: 100%; max-width: $max-width; margin: 0 auto; padding: 0; }
// do not use the row mixin for your container. the direct child selectors will bork everything


// declare non-grid-related styles for your elements ============================================= /
header.banner {
  background-color: $gray10;
}

section div {
  padding: 1em 0;
}

section.hero {
  height: $vertical-measure * 10;
  background-color: $gray60;
}

section.two-columns {
  background-color: $gray10;

  div {
    background-color: $gray30;
  }
}

section.six-columns {
  background-color: $gray10;

  div {
    background-color: $gray30;
  }
}

section.varying-columns {
  background-color: $gray10;

  div {
    background-color: $gray30;
  }
}

section.nested-columns {
  background-color: $gray10;

  div.nested {

    div {
      background-color: $gray50;
    }
  }

  div.unnested {
    background-color: $gray30;
  }
}

section.more-nested-columns {
  background-color: $gray10;

  div.first-unnested {
    background-color: $gray30;
  }

  div.nested {

    div {
      background-color: $gray50;
    }
  }

  div.second-unnested {
    background-color: $gray30;
  }
}

section.offset-columns {
  background-color: $gray10;

  div {
    background-color: $gray30;
  }
}

footer.credit {
  background-color: $gray10;
  padding: 0.45em 0; // tweak to align contained elements to baseline
  text-align: center;

  p {
    margin: 0;
  }
}

@media screen and (min-width: 36em) {

  section.two-columns,
  section.six-columns,
  section.varying-columns,
  section.nested-columns,
  section.more-nested-columns,
  section.offset-columns {
    @include row; // don't behave like rows until the viewport is wider than 36ems
    margin-bottom: $vertical-measure;
  }

  header.banner {
    margin-bottom: $vertical-measure;
  }

  section div {
    padding: 1.8em 1em 0.93em 1em;
  }

  section.hero {
    margin-bottom: $vertical-measure;
  }

  section.two-columns {
    div {
      width: columns(3);
    }
    div.right-column {
      @include last;
    }
  }

  section.six-columns {
    div {
      width: columns(1);
    }
    div.sixth-column {
      @include last;
    }
  }

  section.varying-columns {
    div.first-column {
      width: columns(1);
    }
    div.second-column {
      width: columns(2);
    }
    div.third-column {
      width: columns(3);
    }
    div.third-column {
      @include last;
    }
  }

  section.nested-columns {
    div.nested {
      @include nesting;
      width: columns(3);
      div {
        width: columns(1, 3);
        margin-right: gutter(3);
      }
      div.third-nested {
        @include last;
      }
    }
    div.unnested {
      width: columns(3);
      @include last;
    }
  }

  section.more-nested-columns {
    div.first-unnested {
      width: columns(2);
    }
    div.nested {
      @include nesting;
      width: columns(3);
      div {
        width: columns(1, 2);
        margin-right: gutter(2);
      }
      div.second-nested {
        @include last;
      }
    }
    div.second-unnested {
      width: columns(1);
      @include last;
    }
  }

  section.offset-columns {
    div.first-offset {
      @include offset(left, 1);
      width: columns(1);
    }
    div.second-offset {
      @include offset(right, 2);
      width: columns(2);
    }
  }
}