/* ==========================================================================
Grid tutorial styles
========================================================================== */

// grid-width function modified from Bourbon by thoughtbot, inc.
// https://github.com/thoughtbot/bourbon
@function grid-columns($n) {
  @return $n * $gr-column-width + ($n - 1) * $grid-gutter-width;
}

// set up variables for grid functions. 6 column grid based on
// http://elliotjaystocks.com/blog/a-better-photoshop-grid-for-responsive-web-design/
$grid-column-width: 15%;
$grid-gutter-width: 2%;

.container { // outer container to constrain our layout
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

@mixin clearfix { // micro clearfix hack - http://nicolasgallagher.com/micro-clearfix-hack/
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

@mixin pull-right { float: right; }
@mixin pull-left { float: left; }
@mixin row { margin: 0 0 0 0; } // reset margins to accomodate things going outside of them

.column {
  float: left;
  display: inline;
  margin: 0 0 0 20px;
}

.one {                width: 15%; }
.two {                width: 32%; }
.three {              width: 49%; }
.four {               width: 66%; }
.five {               width: 83%; }
.six {                width: 100%; }

.offset-by-one {      margin-left: 17%; }
.offset-by-two {      margin-left: 34%; }
.offset-by-three {    margin-left: 51%; }
.offset-by-four {     margin-left: 68%; }