/* ==========================================================================
Grid tutorial styles
========================================================================== */

// grid-width function modified from Bourbon by thoughtbot, inc.
// https://github.com/thoughtbot/bourbon
@function grid-width($n) {
  @return $n * $gr-column-width + ($n - 1) * $grid-gutter-width;
}

// set up variables for grid functions. 6 column grid based on
// http://elliotjaystocks.com/blog/a-better-photoshop-grid-for-responsive-web-design/
$grid-columns:      6;
$grid-column-width: 15%;
$grid-gutter-width: 2%;

@mixin clearfix { // micro clearfix hack - http://nicolasgallagher.com/micro-clearfix-hack/
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}

@mixin pull-right { float: right; }
@mixin pull-left { float: left; }
@mixin row { margin-left: -($grid-gutter-width); } // reset margins to accomodate things going outside of them
@mixin border-box {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

@function offset($side, $columns) { // $side is left or right, $columns is number of columns of offset
  @return $side; // not doing anything yet, just prevents it from throwing an error on compile
}

@mixin row { width: 100%; max-width: 1000px; margin: 0 auto; padding: 0; }