/* =============================================================================
Elements should have semantic class names. Grid styles are pulled in with mixins
============================================================================= */

// set up body and container padding/widths/etc
body { padding: 0 1em;}
div.container { width: 100%; max-width: 1000px; margin: 0 auto; padding: 0; }

header.banner {
  background-color: $gray10;
  margin-bottom: 1.4em;
}

section.hero {
  height: 14em;
  background-color: $gray60;
  margin-bottom: 1.4em;
}

// tell your main content sections to act like rows for contained column elements
section.text-blocks, section.descriptions, section.other-info { @include row; }

// declare non-grid-related styles for your elements
section.text-blocks {
  background-color: $gray10;
  margin-bottom: 1.4em;

  div {
    background-color: $gray30;
    padding: 1.4em;
    width: columns(2); // declare column width of elements
  }
}

section.descriptions {
  background-color: $gray10;
  margin-bottom: 1.4em;

  div {
    background-color: $gray30;
    padding: 1.4em;
    width: columns(3); // declare column width of elements
  }
}

section.other-info {
  background-color: $gray10;
  margin-bottom: 1.4em;

  div {
    background-color: $gray30;
    padding: 1.4em;
    width: columns(1); // declare column width of elements
  }
}

footer.disclaimer {
  background-color: $gray10;
  text-align: center;
}