/* =============================================================================
Elements should have semantic class names. Grid styles are pulled in with mixins
============================================================================= */

div.container { width: 100%; max-width: 1000px; margin: 0 auto; padding: 0 1em; }

header.banner {
  background-color: $gray10;
  margin-bottom: 1.4em;
}

section.hero {
  height: 14em;
  background-color: $gray60;
  margin-bottom: 1.4em;
}

section.text-blocks {
  background-color: $gray10;
  margin-bottom: 1.4em;
  @include clearfix;

  div {
    background-color: $gray30;
    padding: 1.4em;
    margin-right: $grid-gutter-width;
    width: columns(2);
    @include border-box;
    @include pull-left;
  }

  div:last-child {
    margin-right: 0;     // remove margin-right from last child element
    @include pull-right; // float last element right to defeat percentage misalignment
  }
}

section.descriptions {
  background-color: $gray10;
  margin-bottom: 1.4em;
  @include clearfix;

  div {
    background-color: $gray30;
    padding: 1.4em;
    margin-right: $grid-gutter-width;
    width: columns(3);
    @include border-box;
    @include pull-left;
  }

  div:last-child {
    margin-right: 0;     // remove margin-right for proper alignment
    @include pull-right; // float last element right to defeat percentage misalignment
  }
}

section.other-info {
  background-color: $gray10;
  margin-bottom: 1.4em;
  @include clearfix;

  div {
    background-color: $gray30;
    padding: 1.4em;
    margin-right: $grid-gutter-width;
    width: columns(1);
    @include border-box;
    @include pull-left;
  }

  div:last-child {
    margin-right: 0;     // remove margin-right for proper alignment
    @include pull-right; // float last element right to defeat percentage misalignment
  }
}

footer.disclaimer {
  background-color: $gray10;
  text-align: center;
}