/* ==========================================================================
Type styles
========================================================================== */

body { font-family: $textFontFamily; }

p {
  margin: 0 0 1.4em 0;
  font-size: 1em;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: $baseColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}
h1 {
  font-size: 2em;
  line-height: 2.8em;
}
h2 {
  font-size: 1.5em;
  line-height: 2.8em;
}
h3 {
  line-height: 1em;
  font-size: 1em;
}
h4, h5, h6 {
  line-height: 1em;
}
h4 {
  font-size: .85em;
}
h5 {
  font-size: .75em;
}
h6 {
  font-size: .75em;
  color: lighten($baseColor, 10%);
  text-transform: uppercase;
}

ul, ol {
  padding: 0;
  margin: 0 0 1.4em 1em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 1.4em;
}

hr {
  margin: 1em 0;
  border: 0;
  border-top: 1px solid $gray50;
  border-bottom: 1px solid $white;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}